<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin-top: 50px">
<table class="table table-bordered">
    <div style="margin-left: 50px">
        <div class="input-group" style="width: 300px">
            <span class="input-group-addon" id="basic-addon3" style="width: 130px ; margin-left: 50px">Запрос:</span>
            <div type="text" th:text="${calculationResult.request}" class="form-control" id="basic-url"
                 aria-describedby="basic-addon3"></div>
        </div>
    </div>
    <div style="margin-left: 50px">
        <div class="input-group" style="width: 300px">
            <span class="input-group-addon" id="basic-addon3" style="width: 130px ; margin-left: 50px">Ответ:</span>
            <div type="text" th:text="${calculationResult.result}" class="form-control" id="basic-url"
                 aria-describedby="basic-addon3"> Hello
            </div>
        </div>
    </div>
    <div style="margin-left: 50px">
        <div class="input-group" style="width: 300px">
            <span class="input-group-addon" id="basic-addon3"
                  style="width: 130px ; margin-left: 50px">Время запроса:</span>
            <div type="date" th:text="${#dates.format(calculationResult.requestTime, 'dd.MM.yyyy hh:mm:ss')}"
                 class="form-control" id="basic-url"
                 aria-describedby="basic-addon3"></div>
        </div>

    </div>

    <div style="margin-left: 50px">

        <div class="input-group" style="width: 300px">
            <span class="input-group-addon" id="basic-addon3"
                  style="width: 130px ; margin-left: 50px">Время расчета:</span>
            <div type="text" th:text="${calculationResult.calculationTime}" class="form-control" id="basic-url"
                 aria-describedby="basic-addon3"></div>
        </div>
    </div>

</table>
<form action="#" th:action="@{/redirect}" th:object="${calculationRequest}" method="get" style="margin-left: 150px">
    <td>
        <button type="submit" class="btn btn-default">Назад</button>
    </td>

</form>


</body>
</html>
